<%- include('../../includes/header') %>
  <link href="/web/static/stylesheets/main.70e1e078.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenter.1cbdaa6f.css">
  <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenter.4fdd35a5.css">
  <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenterAffiliate.5c2754d0.css">

  <style>
    .copy-text {
      cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .modal-content .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding: 5px 10px;
      background: red;
      opacity: 1;
      border-radius: 5px;
    }

    .modal-content th {
      padding: 10px;
      text-align: center;
    }

    .modal-content td {
      padding: 10px;
    }

    #totalMembersTrigger {
      cursor: pointer;
    }

    #totalMembersTrigger:hover {
      background-color: aquamarine;
      color: black;
    }

    .member-center-affiliate .left-info .data-box .label {
      color: black;
      opacity: 1
    }

    .member-center-affiliate .left-info .data-box .value {
      color: black;
    }

    .member-center-main {
      color: #454545;
      display: flex;
      justify-content: center;
      margin: auto;
      max-width: 1280px;
      padding: 20px 0;
      width: 100%;
    }

    .member-center-main .member-center-content {
      background: #ededed;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
      display: flex;
      justify-content: space-between;
      overflow-x: hidden;
      position: relative;
      width: calc(100% - 220px);
    }

    .member-center-main .member-center-content .block:first-of-type {
      position: relative;
    }

    .member-center-main .member-center-content .block {
      padding: 24px;
      width: 50%;
    }

    .member-center-main .member-center-content .block>.title {
      color: #454545;
    }

    .member-center-main .member-center-content .title {
      font-size: 19px;
      font-weight: 600;
      line-height: 24px;
    }

    .member-center-affiliate .nav {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 24px 0;
      width: 100%;
    }

    .member-center-affiliate .left-info {
      background-color: #fff;
      border-radius: 5px;
      padding: 10px 15px;
      width: 100%;
    }

    .member-center-main .member-center-content .block {
      padding: 24px;
      width: 50%;
    }

    .member-center-main .member-center-content #right-drawer-root {
      height: 100%;
    }

    #totalMembersTrigger {
      cursor: pointer;
    }

    .member-center-affiliate .nav .tab {
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      box-sizing: border-box;
      color: #454545;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-weight: 300;
      justify-content: center;
      min-height: 105px;
      padding: 10px 0;
      width: 30%;
    }

    .member-center-affiliate .nav .tab:nth-child(2) {
      margin: 0 5%;
    }

    .member-center-affiliate .nav .tab span {
      font-size: 14px;
      line-height: 1.2;
      padding: 5px;
      text-align: center;
      width: 100%;
    }

    .member-center-affiliate .left-info .data-box:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }

    .member-center-affiliate .left-info .data-box {
      display: flex;
      justify-content: space-between;
      padding: 7px 0;
    }

    .member-center-affiliate .left-info .data-box .label {
      color: black;
      opacity: 1;
    }

    .member-center-main .member-center-content .block>.title {
      color: #454545;
    }

    .member-center-affiliate .right-info {
      background-color: #fff;
      border-radius: 5px;
      margin-top: 24px;
      padding: 10px;
    }

    .member-center-affiliate .right-info .data-box:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 10px;
    }

    .member-center-affiliate .right-info .data-box {
      align-items: center;
      color: #454545;
      display: flex;
      justify-content: space-between;
      padding: 8px 15px;
    }

    .copy-text {
      cursor: pointer;
    }
    .affiliateid {
      font-weight: 700;
    }
    .app-body {
      background: url(/images/agency/bg.jpg);
    }
  </style>

  <!-- The Modal -->
  <div id="memberModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span style="cursor: pointer;" class="close">&times;</span>
      <h2>Thông tin thành viên</h2>
      </ul>
      <table border="1" style="width: 100%; text-align: center">
        <thead>
          <tr>
            <th>Username</th>
            <th>Số dư</th>
            <th>Tổng nạp </th>
            <th>Tổng rút </th>
          </tr>
        </thead>
        <tbody id="memberList">

        </tbody>
      </table>

    </div>
  </div>

  <div class="app-body" style="padding-top: 0;">
    <div class="member-center-main">
      <div class="member-center-content" style="margin: 5rem;">
        <div class="block member-center-affiliate">
          <div class="title" id="titleAgency">Thống kê đại lý tháng</div>
          <div class="nav">
            <div id="totalMembersTrigger" class="tab" style="height: 160px;">
              <img src="/images/agency/mypeople.svg" alt="direct-members" style="width: 50%;">
              <span>
                Thành viên</span>
              <span id="countRefUser" style="font-size: 23px;">0</span>
            </div>
            <div class="tab" style="height: 160px; cursor: default;">
              <img src="/images/agency/commission.svg" alt="commission" style="width: 50%;">
              <span>Lợi nhuận đại lý </span>
              <span id="countProfit" style="font-size: 23px;">0</span>
            </div>
            <div class="tab" style="height: 160px; cursor: default;">
              <img src="/images/agency/commission.svg" alt="commission" style="width: 50%;">
              <span>Tiền hoàn trả từ tài khoản khách hàng </span>
              <span id="coinOfUsersViolate" style="font-size: 23px;">
                <%=dataPage.helpers.numberWithCommas(dataPage.session.user.coin)%>
              </span>
            </div>
          </div>
          <div class="left-info">
            <div class="data-box">
              <div class="label">Tổng số thành viên của bạn</div>
              <div class="value" id="countRefUser2">0</div>
            </div>
            <div class="data-box">
              <div class="label">Số thành viên đăng ký hôm nay</div>
              <div class="value" id="countRefUser3">0</div>
            </div>

            <div class="data-box">
              <div class="label">Tổng nạp:</div>
              <div class="value" id="totalDeposit">0.00</div>
            </div>

            <div class="data-box">
              <div class="label">Tổng rút:</div>
              <div class="value" id="totalWithdraw">0.00</div>
            </div>

            <div class="data-box">
              <div class="label">Tổng volume cược tháng này</div>
              <div class="value" id="totalVolume">0.00</div>
            </div>
          </div>
        </div>
        <div class="block member-center-affiliate">
          <div class="title">Mã Đại Lý (ID Giới Thiệu)</div>
          <div class="right-info" style="width: 100%; height: 90%;">
            <div class="data-box">
              <div>
                <div class="label">Mã đại lý của bạn là: <span class="affiliateid"></span></div>
              </div>
              <div class="copy-text"><i class="fa fa-2x fa-clone" aria-hidden="true"
                  onclick="javascript:void(coppyToClipboard($('.affiliateid').html()))"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="right-drawer-root"></div>
      </div>

    </div>
  </div>


  <script>
    const coppyToClipboard = (text) => {
      var input = document.createElement('input');
      input.setAttribute('value', text);
      document.body.appendChild(input);
      input.select();
      var result = document.execCommand('copy');
      document.body.removeChild(input);
      toastr.success('Đã copy vào bộ nhớ tạm!');
      return result;
    }

    $(document).ready(() => {
      getMyRefInfo();
      countRefererUser();
      countRefererUserToday();
      caculatorProfit();
      $('#titleAgency').html(`Thống kê đại lý tháng ${moment().format("MM")}`);
      $('#totalMembersTrigger').click(function () {
        openMembersModal();
      });
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        var modal = document.getElementById('memberModal');
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      // When the user clicks on <span> (x), close the modal
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function () {
        var modal = document.getElementById('memberModal');
        modal.style.display = "none";
      }
    });

    function openMembersModal() {
      $.ajax({
        url: "<%=dataPage.config.MAIN_API%>/api/agency/calculatorProfit",
        method: "GET",
        timeout: 0,
        headers: {
          "Authorization": "Bearer <%=dataPage.session.accessToken%>",
          "Content-Type": "application/json",
        },
      }).done((response) => {
        if (response.status) {
          populateMemberModal(response.data);
          document.getElementById('memberModal').style.display = 'block';
        } else {
          toastr.warning('Không thể tải thông tin thành viên: ' + response.msg);
        }
      });
    }

    function populateMemberModal(members) {
      const memberList = $('#memberList');
      memberList.empty(); // Clear previous entries

      members.forEach((member) => {
        const userInfo = member.userInfo;

        // Tính tổng deposit
        const totalDeposit = member.depositRecord.reduce((accumulator, item) => {
          return accumulator + item.amount;
        }, 0);

        // Tính tổng withdraw
        const totalWithdraw = member.withdrawRecord.reduce((accumulator, item) => {
          return accumulator + item.amount;
        }, 0);

        // Định dạng số tiền theo VND
        const formatter = new Intl.NumberFormat('vi-VN', {
          style: 'currency',
          currency: 'VND'
        });
        const formattedTotalDeposit = formatter.format(totalDeposit);
        const formattedTotalWithdraw = formatter.format(totalWithdraw);
        const listItem = `<tr>
            <td>
                ${userInfo.username}
            </td>
            <td>
                ${numberWithCommas(userInfo.coin)}
            </td>
            <td>
                ${formattedTotalDeposit}
            </td>
            <td>
                ${formattedTotalWithdraw}
            </td>
        </tr>`;
        memberList.append(listItem);
      });
    }

    const countRefererUser = () => {
      $.ajax({
        "url": "<%=dataPage.config.MAIN_API%>/api/agency/countRefUser",
        "method": "GET",
        "timeout": 0,
        "headers": {
          "Authorization": "Bearer <%=dataPage.session.accessToken%>",
          "Content-Type": "application/json",
        },
      }).done((response) => {
        if (response.status) {
          $('#countRefUser').html(numberWithCommas(response.count));
          $('#countRefUser2').html(numberWithCommas(response.count));
        } else {
          toastr.warning(response.msg);
        }
      });
    }
    const countRefererUserToday = () => {
      $.ajax({
        "url": "<%=dataPage.config.MAIN_API%>/api/agency/countRefUserToday",
        "method": "GET",
        "timeout": 0,
        "headers": {
          "Authorization": "Bearer <%=dataPage.session.accessToken%>",
          "Content-Type": "application/json",
        },
      }).done((response) => {
        if (response.status) {
          $('#countRefUser3').html(numberWithCommas(response.count));
        } else {
          toastr.warning(response.msg);
        }
      });
    }
    const getMyRefInfo = () => {
      $.ajax({
        "url": "<%=dataPage.config.MAIN_API%>/api/agency/myRefShare",
        "method": "GET",
        "timeout": 0,
        "headers": {
          "Authorization": "Bearer <%=dataPage.session.accessToken%>",
          "Content-Type": "application/json",
        },
      }).done((response) => {
        if (response.status) {
          $('.affiliateid').html(response.agency.code);
          $('#affilate-link').html(`<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}`);
          $('#qr-affilate-share').attr("src", `https://quickchart.io/qr?text=<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}&ecLevel=H&margin=1&size=128`);
          $('#qr-affilate-download').attr("onclick", `window.location='https://quickchart.io/qr?text=<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}&ecLevel=H&margin=1&size=128'`);
        } else {
          toastr.warning(response.msg);
        }
      });
    }

    const caculatorProfit = () => {
      $.ajax({
        "url": "<%=dataPage.config.MAIN_API%>/api/agency/calculatorProfit",
        "method": "GET",
        "timeout": 0,
        "headers": {
          "Authorization": "Bearer <%=dataPage.session.accessToken%>",
          "Content-Type": "application/json",
        },
      }).done((response) => {
        console.log(response);
        if (response.status) {
          const dataProfit = response.data;
          let totalVolume = 0,
            totalDeposit = 0,
            totalWithdraw = 0;

          response.data.forEach((user) => {
            // caculator volume
            user.betRecord.forEach((bet) => {
              totalVolume += Number(bet.betAmount);
            });
            // caculator deposit
            user.depositRecord.forEach((deposit) => {
              totalDeposit += Number(deposit.amount);
            });
            // caculator withdraw
            user.withdrawRecord.forEach((withdraw) => {
              totalWithdraw += Number(withdraw.amount);
            });
          });
          totalVolume = totalVolume * 1000;
          $('#totalVolume').html(numberWithCommas(totalVolume));
          $('#totalDeposit').html(numberWithCommas(totalDeposit));
          $('#totalWithdraw').html(numberWithCommas(totalWithdraw));
          // $('#countProfit').html(numberWithCommas(totalDeposit - totalWithdraw));
          $('#countProfit').html(numberWithCommas(response.percentCommission));

        } else {
          toastr.warning(response.msg);
        }
      });


    }
  </script>
  <%- include('../../includes/footer') %>