<%- include('includes/header') %>

  <style>
    .Hra33TxtHu1C-vZkxSDi7 {
      position: absolute;
      z-index: 1;
      height: 40px;
      width: 100%;
      background-color: #fff;
    }

    ._2f-DvVLvelwJOC7_a45SIc {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      height: 40px;
    }

    ._1HKJOEgSu0SSPbgkWjI0rQ {
      position: absolute;
      line-height: 40px;
      color: #000;
      font-size: 16px;
    }


    .W9N3001mLDTkKCM5ar8j9 {
      white-space: nowrap;
      overflow: hidden;
      margin-left: 200px;
    }

    ._3O7S0w3esoWg5PVs5ZLUi2 {
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }

    .W9N3001mLDTkKCM5ar8j9 li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      color: #000;
      font-size: 16px;
      text-decoration: none;
      line-height: 40px;
    }
  </style>
  <style>
    .main {
      max-width: 1200px;
      margin: 0 auto;
    }

    /* CSS tinh nang */
    .mStjgcADwBgprsQLlvjuO {
      position: relative;
      margin: 0;
      font-size: 40px;
      font-weight: 600;
      color: #ff0f00;
      margin-top: 3rem;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    ._30APJszbm3wcgZ5Oyn57ka {
      display: flex;
      justify-content: space-around;
      margin: 41px 0 44px 0;
    }

    .mStjgcADwBgprsQLlvjuO::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 15px;
      background-color: #ff0f00;
    }

    ._30APJszbm3wcgZ5Oyn57ka {
      display: flex;
      justify-content: space-around;
      margin: 41px 0 44px 0;
    }

    ._30APJszbm3wcgZ5Oyn57ka>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 12px;
      width: 216px;
      height: 165px;
    }

    ._30APJszbm3wcgZ5Oyn57ka>div img {
      width: 136.5px;
      height: 130px;
    }

    ._30APJszbm3wcgZ5Oyn57ka>div p {
      margin: 0;
      font-family: TimesNewRoman;
      font-size: 20px;
      font-weight: bold;
    }

    ._30APJszbm3wcgZ5Oyn57ka>div:not(:first-of-type)::after {
      position: absolute;
      left: -50px;
      content: "";
      width: 1px;
      height: 107px;
      flex-grow: 0;
      background-color: red;
    }

    /* CSS gioi thieu */
    ._1uNn9YXFmLLHH4TGyPm3G- {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 45px 0;
    }

    ._1uNn9YXFmLLHH4TGyPm3G- video {
      display: inline-block;
      vertical-align: baseline;
    }

    ._1uNn9YXFmLLHH4TGyPm3G- ._13rvKZOuh2BMIJMCyjVilZ {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      padding-left: 15px;
      margin: 0;
      color: #000;
      list-style: none;
    }

    ._1uNn9YXFmLLHH4TGyPm3G- ._13rvKZOuh2BMIJMCyjVilZ li {
      margin-bottom: 14px;
      text-align: center;
      cursor: pointer;
    }

    /* CSS Nha cung cap */
    ._29Yn6iW3oJfPjz1sW6QH9q {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      list-style: none;
    }

    ._29Yn6iW3oJfPjz1sW6QH9q li {
      margin-bottom: 24px;
    }

    ._29Yn6iW3oJfPjz1sW6QH9q li a {
      display: block;
    }

    ._29Yn6iW3oJfPjz1sW6QH9q img {
      vertical-align: middle;
    }

    a {
      color: #337ab7;
      text-decoration: none;
    }
  </style>

  <!-- BANNER SLIDE -->
  <div style="height: 453px; overflow: hidden;">
    <section style="height: 100%;">
      <div ng-class="$ctrl.styles.slide"
        class="swiper mySwiperBanner swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
        style="height: 100%;">
        <div class="swiper-wrapper" id="swiper-wrapper-57589196c97db227" style="height: 100%;">
          <% const images=[ { url: '/images/banner-slide/1.jpg' , link: '/account/deposit' },
            {url: '/images/banner-slide/2.jpg' , link: '/account/deposit' }, {url: '/images/banner-slide/3.jpg' ,
            link: '/account/deposit' }, {url: '/images/banner-slide/4.jpg' , link: '/account/deposit' },
            {url: '/images/banner-slide/5.jpg' , link: '/account/deposit' } ]; images.forEach((item, index)=> {
            %>
            <div class="swiper-slide" role="group" style="width: 100%; height: 100%;">
              <a href="javascript:window.location='<%= item.link %>';" style="display: block; height: 100%;">
                <img src="<%= item.url %>" class="slide-img ls-is-cached lazyloaded"
                  style="cursor: pointer; width: 100%; height: 100%; object-fit: cover; display: block;" />
              </a>
            </div>
            <% }); %>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </section>
  </div>
  <gupw-hot-news class="ng-isolate-scope">
    <div ng-class="$ctrl.styles.wrapper" ng-if="$ctrl.newsVisible" class="ng-scope Hra33TxtHu1C-vZkxSDi7">
      <div ng-class="$ctrl.styles.layer" class="_2f-DvVLvelwJOC7_a45SIc">
        <span ng-class="$ctrl.styles.title" translate="Shared_NewsInfo" class="ng-scope _1HKJOEgSu0SSPbgkWjI0rQ">
          <i class="fa-solid fa-volume-high"></i> THÔNG BÁO MỚI NHẤT: </span>
        <div ng-class="$ctrl.styles[' hot-news']" class="W9N3001mLDTkKCM5ar8j9">
          <div marquee="" style="display: block;">
            <div
              style="width: 100000px; transform: translateX(1030px); animation: 226.335s linear 0s infinite normal none running marqueeAnimation-8325873;"
              class="js-marquee-wrapper">
              <div class="js-marquee" style="margin-right: 0px; float: left;">
                <ul ng-class="$ctrl.styles['news-list']" class="_3O7S0w3esoWg5PVs5ZLUi2">
                  <li ng-repeat="item in $ctrl.list" ng-click="$ctrl.go(item)" class="ng-binding ng-scope">
                    <!-- <%=dataPage.session.siteConfig.site_brand_marquee;%> -->
                    📣📣📣 THÔNG BÁO: Từ ngày 01/01/2026 MB66 có chương trình khuyến mãi 100% cho khách hàng mới đăng ký
                    tại trang. ⛑️Chi tiết vui lòng xem thêm tại CTKM hoặc liên hệ CSKH để được hỗ trợ thêm. ⛑️CTKM 50%
                    và 100% tạm thời có thêm CHƯƠNG TRÌNH MỪNG XUÂN BÍNH NGỌ với mức ưu đãi hấp dẫn hơn. Vui lòng xem
                    thông tin chi tiết tại KHUYẾN MÃI.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <ng-transclude></ng-transclude>
        </div>
      </div>
    </div>
  </gupw-hot-news>

  <!-- MAIN -->
  <section class="main">
    <!-- Tinh nang -->
    <section>
      <h1 ng-class="$ctrl.styles.title" class="mStjgcADwBgprsQLlvjuO">NHỮNG TÍNH NĂNG VƯỢT TRỘI</h1>
      <div ng-class="$ctrl.styles['brand-list']" class="_30APJszbm3wcgZ5Oyn57ka">
        <div ng-repeat="brand in $ctrl.brandList" class="ng-scope"> <img alt="Thương Hiệu Uy Tín"
            src="/images/main/1c480806a6280e7c55cd151040d8a5e5.png">
          <p class="ng-binding">Thương Hiệu Uy Tín</p>
        </div>
        <div ng-repeat="brand in $ctrl.brandList" class="ng-scope"> <img alt="Đa Dạng Sản Phẩm"
            src="/images/main/b0173a8a421a4e3bea6caae6af6b439e.png">
          <p class="ng-binding">Đa Dạng Sản Phẩm</p>
        </div>
        <div ng-repeat="brand in $ctrl.brandList" class="ng-scope"> <img alt="An Ninh Bảo Mật"
            src="/images/main/fd0411fcf22da280ac053c1d08a0c4c7.png">
          <p class="ng-binding">An Ninh Bảo Mật</p>
        </div>
        <div ng-repeat="brand in $ctrl.brandList" class="ng-scope"> <img alt="Giao Dịch Nhanh Chóng"
            src="/images/main/f673c0725349fc6471bb4bc7e3f19409.png">
          <p class="ng-binding">Giao Dịch Nhanh Chóng</p>
        </div>
      </div>
    </section>
    <!-- Gioi thieu -->
    <section>
      <h1 ng-class="$ctrl.styles.title" class="mStjgcADwBgprsQLlvjuO">GIỚI THIỆU MB66</h1>
      <div ng-class="$ctrl.styles.introduction" class="_1uNn9YXFmLLHH4TGyPm3G-">
        <video width="630" height="660" controls="" autoplay="" loop="" muted="" ng-if="$ctrl.httpFilm"
          class="ng-scope">
          <source type="video/mp4" src="/images/main/78de5359-73c8-4282-babe-29602f6a2055.mp4">
        </video>
        <div ng-if="$ctrl.gameList" class="ng-scope gameList">
          <ul ng-class="$ctrl.styles.list" class="_13rvKZOuh2BMIJMCyjVilZ">
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/b58aff843eb9cd1f8fed33653510c1f5.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/312db7c6c3d5514732904164f482aac8.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/9aade4b5e41096f4145f51864f8d0aa9.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/51e01c46dc5a38fbcfb5b0eb53188c5a.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/68199d6f042337a1b7952ba69811ccf8.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/ae8892808f5a05dd54fe1043e1b0d125.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/d0f9c624ab34cfabc9dccf059268c436.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/7f944642c73953584ace1e23a618050a.png">
            </li>
            <li ng-repeat="game in games" ng-click="$ctrl.toGame(game)" class="ng-scope"> <img alt="" width="177"
                height="210" src="/images/main/cc1c953bc2d24298d6ef96f915734b9c.png">
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Nha cung cap -->
    <section>
      <h1 ng-class="$ctrl.styles.title" class="mStjgcADwBgprsQLlvjuO">TỔNG HỢP NHÀ CUNG CẤP</h1>
      <ul ng-class="$ctrl.styles['lobby-navigation']" class="_29Yn6iW3oJfPjz1sW6QH9q">
        <li> <a ui-sref="lobby-live" href="#"> <img src="/images/main/b3e233e51dbe0685a88009def5d11eeb.png" alt=""> </a>
        </li>
        <li> <a ui-sref="lobby-slot" href="#"> <img src="/images/main/93343cfd97009dcab37119c5127e9fe8.png" alt=""> </a>
        </li>
        <li> <a ui-sref="lobby-fish" href="#"> <img src="/images/main/cefcb33c58b05cb03a8d7ca2bb0d6744.png" alt=""> </a>
        </li>
        <li> <a ui-sref="lobby-board" href="#"> <img src="/images/main/144a3a271d77bf5188bdb1861239d989.png" alt="">
          </a> </li>
        <li> <a ui-sref="lobby-sport" href="#"> <img src="/images/main/ab9b8cd405b017cff3efa7f521956602.png" alt="">
          </a> </li>
        <li> <a ui-sref="lobby-cock-fighting" href="#"> <img src="/images/main/25791ea512d1d84dac02e9b3de9f13b0.png"
              alt=""> </a> </li>
        <li> <a ui-sref="lobby-lottery" href="#"> <img src="/images/main/791e3ff448ed6f5b08c38af242ce1a63.png" alt="">
          </a> </li>
      </ul>
    </section>
  </section>


  <!-- SCRIPT -->
  <script src="/core/js/lobby/homepage.js"></script>

  <%- include('includes/footer') %>